@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

:root{
    --marron:#A30000;
    --noir:#000;
    --bord:#D3A94C;
    --vert:#00660A;
    --rouge:#FF0000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
    background: url(./asset/Fond-arena1.jpg) center/cover;
    min-height: 100vh;
    overflow: hidden;
}
h1{
    font-family: Metal Mania;
    color: var(--bord);
    font-size: 50px;
}
.top{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 10px;
}
.buff{
    width: 250px;
    height: 250px;
    background-color: #000;
    border-radius: 100px;
    border: 5px solid #D3A94C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buff img{
    width: 197px;
    height: 188px;
}
.start{
    width: 280px;
    height: 75px;
    background-color: #00660A;
    color: #D3A94C;
    border-radius: 50px;
    border: 3px solid #D3A94C;
    font-weight: bold;
    font-size: 30px;
}
.toptop{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #D3A94C;
}
.team2{
    position: absolute;
    right: 25%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team2 img{
    width: 184px;
    height: 152px;
    position: absolute;
}
.team1{
    position: absolute;
    left: 25%;
    bottom: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team1 img{
    width: 184px;
    height: 152px;
    
}
#infoGame{
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: 30px;
    margin: 10px;
    border:5px solid #D3A94C;
    display: none;
}
.barLife{
    width: 100%;
}
.hero1T1{
    bottom: -200px;
    position: absolute;
    left: -130px;
    transition: all 0.5s ease;
}
.hero2T1{
    bottom: -75px;
    left: -25px;
    position: absolute;
    transition: all 0.5s ease;
}
.hero3T1{
    bottom: -76px;
    position: absolute;
    left: -235px;
    transition: all 0.5s ease;
}
.hero4T1{
    bottom: -200px;
    position: absolute;
    left: -340px;
    transition: all 0.5s ease;
}
.hero5T1{
    bottom: -200px;
    position: absolute;
    left: 100px;
    transition: all 0.5s ease;
}
.hero1T2{
    bottom: -40px;
    position: absolute;
    left: -40px;
    transition: all 0.5s ease;
}
.hero2T2{
    bottom: 75px;
    position: absolute;
    left: 65px;
    transition: all 0.5s ease;
}
.hero3T2{
    bottom: 75px;
    position: absolute;
    left: -150px;
    transition: all 0.5s ease;
}
.hero4T2{
    bottom: -40px;
    position: absolute;
    left: 175px;
    transition: all 0.5s ease;
}
.hero5T2{
    bottom: -40px;
    position: absolute;
    left: -270px;
    transition: all 0.5s ease;
}
.lifeBarT1{
    width: 100px;
    height: 15px;
    position: absolute;
    left: 35px;
    background-color: #00660A;
    border: 2px solid #000;
}
.lifeBarT2{
    width: 100px;
    height: 15px;
    position: absolute;
    left: 45px;
    background-color: #00660A;
    border: 2px solid #000;
}